.addContainer {
  background: #bbe9ffb0;

  margin-top: 4rem;
  height: 100vh;
  padding-top: 1rem;

  border-radius: 100px;

  border: 5px solid #bbe9ffc2;
  outline: 5px solid #ceecfa;
  box-shadow: 0 0 0 10px #e0f3fc, 0 0 0 15px #f9fbfc;
}

form {
  background: #b1afff;

  width: 80%;
  margin: 2rem auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: 50px;
  box-shadow: 5px 5px 10px #877e91;
}

label,
button {
  display: grid;

  font-family: var(--main-font);
  font-size: var(--main-font-size);

  textarea {
    height: 200px;
    padding: 0.5rem;

    border-radius: 5px;

    font-family: Arial, Helvetica, sans-serif;
  }
}

.lastRow {
  input {
    background-color: #ffe9d0;

    padding: 0.5rem;
    max-width: 150px;

    border-radius: 5px;

    font-family: Arial, Helvetica, sans-serif;
  }
}

button {
  background-color: #ffe9d0;
  width: 102px;
  margin: 0.7rem 0;
}

button:hover {
  background-color: #fdd1a0;
}

.go-back-btn {
  background: #bbe9ff;
}

.go-back-btn:hover {
  background: #7cd4fa;
}

@media screen and (min-width: 1200px) {
  .add-buttons {
    display: flex;
    gap: 1rem;
  }

  
}

@media screen and (min-width: 850px) {
  .selectComp {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  form {
    width: 50%;
  }

  .lastRow {
    display: flex;
    gap: 4rem;
    justify-content: space-between;

    label {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}
