.inspoPhrase {
  font-family: var(--main-font);
  font-size: 2rem;
}

.inspo-box {
  background-color: #ffe9d0;

  width: 80%;
  margin: 0 auto;
  padding: 2rem;

  border-radius: 100px;

  border: 5px solid #fcce99;
  outline: 5px solid #fac180;
  box-shadow: inset 0 0 0 5px #faddbc, 0 0 0 5px #fdc585;

  text-align: center;

  p {
    font-family: Arial, sans-serif;
    padding: 0.5rem;
  }
}
