.logo {
  background-image: url("../assets/flowers.avif");
  background-size: cover;
  background-position: center;

  border: 5px solid #b1afff;
  outline: 5px solid #bbe9ff;
  box-shadow: 0 0 0 10px #e0f3fc, 0 0 0 15px #f9fbfc;
  border-radius: 100px;

  width: 80%;
  height: 150px;
  margin: 3rem auto;
  padding: 10px;

  text-align: center;
  font-size: 6rem;
  font-family: "Amatic SC", serif;
  font-weight: 700;
  font-style: normal;
  color: #d3ecf8ec;
}
